<!DOCTYPE html>
<html ng-app="bienvenueenfrancaisApp">
<head> 
  <meta charset="utf8">
  <title>BIENVENUEenFRANCAIS !  </title> 
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/main.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">macht die Scheiße</script> 
	<script src="../js/app.js"></script>
</head>
<body> 
 
	<table  style="cursor:pointer" class="table" ng-controller="SlicedsprachenCtrl">	
	 

 <tr >	 
			<td   ng-repeat='S   in   slicedsprachen 	 '   >
			<span ng-click =" Sprachenauswahl(S.Sprache)" class="Sprachen" >  
				<div ng-mouseover="ueber_die_Sprache_wanken(S.Sprache)"
					 id="linkausgewaehlt{{S.Sprache}}"   >  
				</div>  	 						  
			</span>  		 
			</td>  
		</tr> 	
	</table>   
		
<div ng-controller="SlicedsprachenCtrl" ng-init="sssssssssje_nachdem()  ">  
</div> 
  
	<div id="Hauptkoerper"> 
	
	
	<br>
	<br>
	<br>
	<br>
 <p style="text-align: center;">Wollen Sie lernen, was der Buchstabe '''ç''' ist? <a href="ausgewaehltDeuts">Sprachkurse.</a></p>

<p style="text-align: center;">
</p>

<p style="text-align: center;">Mit jelent a '''ç''' betű.? sz! <a href="ausgewaehltUngar">Nyelvórák.</a></p>

<p style="text-align: center;">
</p>

<p style="text-align: center;">Que es la '''ç''' ?<a href="ausgewaehltSpani"> Lecciones</a>.</p>

<p style="text-align: center;">
</p>

<p style="text-align: center;">Os Franceses pronunciam a cedilha como os Portugueses? Sim.<a href="ausgewaehltPortu"> Curso.</a></p>

<p style="text-align: center;">
</p>

<p style="text-align: center;">Che è la '''ç''' ?<a href="ausgewaehltItali"> Lezione.</a></p>

<p style="text-align: center;">
</p>

<p style="text-align: center;">What is the symbol '''ç''' ?<a href="ausgewaehltFranz"> Learn French.</a></p>

<p style="text-align: center;">
</p>   
	
 <footer> <small>Website author: <b> Jean-Michel Lorenzi</b>   © 2014 </small></footer>

	
	</body>
</html>
