<!DOCTYPE html>
<html ng-app="bienvenueenfrancaisApp">
<head>
  <meta charset="utf8">
  <title>C++/Java lernen.  </title>  
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/main.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">macht die Scheiße</script> 
	<script src="../js/app.js"></script>	
	<script src="../js/directives/directives_page1.js"></script>
</head>
<body> 
 
	<table  style="cursor:pointer" class="table" ng-controller="SlicedsprachenCtrl">	
	 

 <tr >	 
			<td   ng-repeat='S   in   slicedsprachen 	 '   >
			<span ng-click =" Sprachenauswahl(S.Sprache)" class="Sprachen" >  
				<div ng-mouseover="ueber_die_Sprache_wanken(S.Sprache)"
					 id="linkausgewaehlt{{S.Sprache}}"   >  
				</div>  	 						  
			</span>  		 
			</td>  
		</tr> 	
	</table>   
		
<div ng-controller="SlicedsprachenCtrl" ng-init="sssssssssje_nachdem()  ">  
</div> 
 
 <img class="photos" src="én.jpg"> 
	<div id="Hauptkoerper"><p>Gr&uuml;&szlig; Gott!
		<br>
		
		Ich heisse Jean-Michel Lorenzi. 
	</p> 
	
<br>
<br>
	Ich wohne in Wien und fahre gerne ins ganze Umland.
<br>
<br>
<br>
 Lesen Sie bitte die <a href="http:Preiseliste.html">Preisliste</a> und   
<ul>
 <li>  schreiben Sie mir an neuron.network@gmail.com </li>
<li> oder rufen Sie mich an 06 6449 16 554 (irgendwann zw. 6:00 und 20:00)</li>
	</ul>
 <footer> <small>Webside author: <b> Jean-Michel Lorenzi</b>   © 2014 </small></footer>
</body>
</html>
