<!DOCTYPE html>
<html ng-app="bienvenueenfrancaisApp">
<head>
  <meta charset="utf8">
  <title>C++ Java C# lernen.  </title>  
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/main.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">macht die Scheiße</script> 
	<script src="../js/app.js"></script>	
	<script src="../js/directives/directives_page1.js"></script>
</head>

</head>
<body> 
 <br>Die Preise je <a href="http:Erklärung_von_Unterricht.html">Unterricht</a>:
	<br>
	<br>
	<br>
	<br>
	</p>
	</div> 
	<div> 
	<table class="table" ng-controller="PreistabelleCtrl">
		<tr ng-repeat="row in Preistabelle  ">
			<td>{{row.Sprache}}</td> 
			<td>{{row.Preis}}</td> 
		</tr>
	</table> 
		
		<br>
		Zurück zu <a href="http:index.html">mir</a>?<br>
 <footer> <small>Webside author: <b> Jean-Michel Lorenzi</b>   © 2014 </small></footer>
</body>
</html>
