<!DOCTYPE html>
<html ng-app="bienvenueenfrancaisApp">
<head>
  <meta charset="utf8">
  <title>Preise.</title>  
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/main.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">macht die Scheiße</script> 
	<script src="../js/app.js"></script>
</head>

</head>
<body>   
	</p>
	</div>  
	<div> 
	<table class="table" ng-controller="UEtabelleCtrl">
		<tr ng-repeat="row in Unterrichteinheitstabelle  "> 
			<td>{{row.UE}}</td> 
			<td>{{row.Nummer}}</td> 
			<td>{{row.Preis}}</td> 
		</tr>
	</table> 
		
		<br>
		Zurück zu <a href="http:index.html">mir</a>?<br><br><br><br>
 <footer> <small>Webside author: <b> Jean-Michel Lorenzi</b>   © 2014 </small></footer>
</body>
</html>
